version: '3.8'

services:
  api:
    image: ${DOCKER_REGISTRY-}iotplatformapi
    build:
      context: .
      dockerfile: IotPlatform.Api/Dockerfile
    ports:
      - "8080:80"
      - "32769:443"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: "https://+:443;http://+:80"
      ASPNETCORE_Kestrel__Certificates__Default__Password: "YourPassword123"
      ASPNETCORE_Kestrel__Certificates__Default__Path: "/https/iotplatformapi.pfx"
      ConnectionStrings__DefaultConnection: Host=db;Port=5432;Database=iot_db;Username=postgres;Password=postgres
      Kafka__BootstrapServers: kafka:9092
      Kafka__Topic: telemetry
    volumes:
      - ./https:/https:ro
    depends_on:
      db:
        condition: service_healthy
      kafka:
        condition: service_started

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: iot_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  kafka:
    image: bitnami/kafka:3.7.0
    ports:
      - "9092:9092"
    environment:
      KAFKA_ENABLE_KRAFT: "yes"
      KAFKA_CFG_PROCESS_ROLES: "controller,broker"
      KAFKA_CFG_NODE_ID: "1"
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: "1@kafka:9093"
      KAFKA_CFG_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_CFG_LISTENERS: "PLAINTEXT://:9092,CONTROLLER://:9093"
      KAFKA_CFG_ADVERTISED_LISTENERS: "PLAINTEXT://kafka:9092"
      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: "CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT"
      KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE: "true"
      ALLOW_PLAINTEXT_LISTENER: "yes"
    volumes:
      - kafka_data:/bitnami/kafka
    healthcheck:
      test: ["CMD-SHELL", "nc -z localhost 9092 || exit 1"]
      interval: 10s
      timeout: 20s
      retries: 5

  worker:
    image: ${DOCKER_REGISTRY-}iotplatformworker
    build:
      context: .
      dockerfile: IotPlatform.Worker/Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: Host=db;Port=5432;Database=iot_db;Username=postgres;Password=postgres
      Kafka__BootstrapServers: kafka:9092
      Kafka__Topic: telemetry
      Kafka__GroupId: iot-worker-group
    depends_on:
      db:
        condition: service_healthy
      kafka:
        condition: service_started

  redis:
      image: redis:latest
      container_name: redis
      ports:
        - "6379:6379"
      volumes:
        - redis_data:/data
      healthcheck:
        test: ["CMD", "redis-cli", "ping"]
        interval: 5s
        timeout: 3s
        retries: 3
        
volumes:
  postgres_data:
  kafka_data:
  redis_data:
